/* GLOBAL */

/* Links */
html {
    height: 100%;
    padding: none;
    margin: none;
}

a,
a:focus,
a:hover {
  color: rgb(97, 91, 91);  }

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;  }

body {
    background-color: #fff;
    width: 100%;
    margin: 0%;
    color: #333;  
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);  }

.flex {
    display: flex; }

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;  }
  
.image {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    will-change: transform;
    animation-duration: 20s;
    animation-name: background-image-animation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transform: translateX(0) scale(1.1);
    background: url('https://www.platinumpublishing.co.uk/uploads/magazines/platinum-business/44/Madrid-2.jpg') no-repeat center center;
    background-size: cover;  }
  
@keyframes background-image-animation {
    0% {
      transform: translateX(-5%) scale(1.1);
    }
    100% {
      transform: translateX(5%) scale(1.1);
    }
  }

/* HEADER */
h2 {
    padding: 50px 20px;
    font-size: 3.5em;  
    background-color: transparent  }

nav {
    padding: 15px 30px 30px 15px;
    display: block;
    color: rgb(97, 91, 91);  }

.masthead-brand {
    margin-bottom: 0;  }

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgb(97, 91, 91);
    background-color: transparent;
    border-bottom: .25rem solid transparent;  }
  
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgb(97, 91, 91);  }
  
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;  }

/* Diferente. Este es el de about */  
.nav-masthead .active {
    color: rgb(97, 91, 91);
    border-bottom-color: rgb(206, 202, 202);
    border-radius: 5%;
    }
  
@media (min-width: 48em) {
    .masthead-brand {
      float: left; 
    }
    .nav-masthead {
      float: right;
    }  }
/* Diferente. Este es el de about */ 

.cover-heading{
    font-size: 65px;
    padding: 50px 0 25px 0;  }
  .text {
    font-size: 25px;  }  

/* Cover */
.cover {
    padding: 0 1.5rem;  }

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;  }
/* Cover */

/* POSTS */

.row {
    padding: 0 30px; 
    width: 100%; }

.gallery {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;  }

.col {
    padding: 15px;
    display: -webkit-flex;
    display: flex;  }

/* POSTS */

/* NEWS FEED */

/*gallery*/
.tres {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem 2rem;
  }

.dos {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
    display: inline-block;
  }
  
.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    flex: auto;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 1rem;
    overflow: inherit;  }
  
.puerta_de_alcala {
    display: flex;
    flex-wrap: wrap;
    justify-items: auto;
    width: 60%;
    height: 60%;
    object-fit: cover;
    transition: transform 400ms ease-out;
  }
  
.puerta_de_alcala:hover {
    transform: scale(2);
  }
  @supports (display: grid) {
    .dos {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
      grid-gap: 2rem;
    }
  
    .dos,
    .gallery-item {
      margin: 0;
    }
  }    
/* NEWS FEED*/

/* ABOUT US*/

.featurette-heading {
    padding: 25px;
    margin: 5px;  }

.text-muted {
    color: white;  }    

.lead {
    padding: 20px 20px 20px 40px;
    text-align: justify;  }

.col-md-4 {
    padding: 15px;  
    display: block;  }

.col-md-8 {
    text-align: right;  }


/* CONTACT */

form {
    padding: 70px 15px 20px;  }

.form-group {
    padding: 10px;  }

.form-control { 
    font-size: 12px;  }

.col-md-5 {
    padding: 205px 15px 20px 35px;  }

    /* CONTACT */
.footer {
    text-align: center;
    margin: 20px;
}

